/**
 * @name catppuccin
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Nerd+Font:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 203,166,247;
  --accentcolor2: 245,194,231;
  --linkcolor: 116,199,236;
  --mentioncolor: 250,179,135;
  --textbrightest: 205,214,244;
  --textbrighter: 205,214,244;
  --textbright: 166,173,200;
  --textdark: 147,153,178;
  --textdarker: 127,132,156;
  --textdarkest: 108,112,134;
  --font: Ubuntu Nerd Font;
  --backgroundaccent: 49,50,68;
  --backgroundprimary: 30,30,46;
  --backgroundsecondary: 24,24,37;
  --backgroundsecondaryalt: 24,24,37;
  --backgroundtertiary: 17,17,27;
  --backgroundfloating: 17,17,27;
  --settingsicons: 1;
}

/* Any custom CSS below here */


